extends ui_layout

block content
  .ui.text.container(style="margin-top: 4em; margin-bottom: 4em; font-size: 18px")
    
    
    p If you have created two posts and <strong> read the comments other users left on your posts,</strong> you can end your session now. You will be directed to a survey to answer some questions.  
    p Otherwise, please go back and finish the procedure.
    

    
      .ui.big.green.labeled.icon.button.info
          i.rocket.icon
          |   End my session
  
  script.
    $('.ui.big.green.labeled.icon.button.info').on('click', function() {
        window.location.href='/logout'; 
      });