extends ui_layout

block content
  .ui.text.container(style="margin-top: 4em; margin-bottom: 4em;")
    h1(style="text-align: center;font-size: 17px") 
     
    h3(style="font-weight: normal;") On the next page, you can start posting. You'll also see posts made by others. 


    h3(style="font-weight: bold;") For your posts, think about a recent ACADEMIC SUCCESS and a recent ACADEMIC FAILURE that you experienced. 

    h3(style="font-weight: normal;") At the top of the next page, you'll see two textboxes. Make a post for each event by clicking on the relevant textbox. 

    h3(style="font-weight: normal; text-decoration: underline;") After you are done with posting, please leave comments on other users' posts.

   
   















    .ui.big.green.labeled.icon.button.interest
        i.rocket.icon
        |   Let's start posting!

    script.
        $('.ui.big.green.labeled.icon.button.interest').on('click', function() {
            $(this).addClass('loading disabled');
            $.post("/account/consent", {
                    _csrf: $('meta[name="csrf-token"]').attr('content')
                }).done(function(json) {
                    if (json["result"] === "success") {
                        window.location.href = '/'
                    }
                });
        });